@import "./text.css";
@import "./alignment.css";
@import "./spacing.css";
@import "./border.css";

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
}